html {
  font-size: 10px;
  font-family: 'Abel', sans-serif;
  background-image: linear-gradient(30deg, #2DD2FA, #2364F0);
}

body {
  height: 100vh;
  width: 85%;
  margin: auto;
  /* padding: 0 20px 20px 20px; */
  /* background-color: #F0A046; */
  /* border: 5px solid black; */
}

h1 {
  font-size: 60px;
  color: white;
  text-align: left;
  /* text-shadow: 3px 3px 1px #012773; */
  float: left;
}

h2 {
  font-size: 40px;
  color: white;
  /* text-shadow: 3px 3px 1px #012773; */
}

p, li {
  font-size: 20px;
  color: white;
  line-height: 1.5;
  letter-spacing: 1px;
  /* text-shadow: 2px 2px 2px #012773; */
}

#icon {
  width: 75px;
  height: 75px;
  margin: 25px 0;
  padding: 20px;
  display: block;
  float: left;
  /* margin: 0 auto; */
}

a:visited {
  color: white;
}

a:hover {
  color: orange;
}

#about {
  width: 40%;
  clear: both;
  float: left;
  /* border: 2px solid white; */
}

#window {
  width: 45%;
  float: right;
}
